{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["plugin:@typescript-eslint/recommended"],
  "rules": {
    "no-console": "error",
    "no-debugger": "error",
    "no-unused-vars": "warn",
    "no-unreachable": "warn",

    "@typescript-eslint/no-explicit-any": "warn"
  }
}
